
{{#reminder-form
  class='spec-edit'
  reminder=model
  submit=(action 'editReminder' model)
}}
<button
  class='spec-revert-button'
  {{action 'revertReminder' model on='click'}}
  hidden={{unless model.hasDirtyAttributes 'true'}}
>Revert</button>
{{/reminder-form}}

{{outlet}}
