<section class="reminders">
  {{#each model as |reminder|}}
  <article >
    {{#link-to 'reminders.reminder' reminder class='spec-reminder-item'}}
      {{reminder.title}}
    {{/link-to}}
    <p>{{reminder.date}}</p>
    {{reusable-button reminder=reminder}}
  </article>
  {{/each}}
</section>
{{#link-to 'reminders.new' class='spec-add-new-reminder' tagName='button'}}
  Add new reminder
{{/link-to}}

{{outlet}}
