<section class="reminder">
  <header>
    <h1>Reminders</h1>
  </header>
  {{#each model as |reminder|}}
  <article class='spec-reminder-item'>
    <h3>{{reminder.title}}</h3>
    <h2>{{reminder.date}}</h2>
    <p>{{reminder.notes}}</p>
  </article>
  {{/each}}
  {{outlet}}
</section>
