<section class="reminders">
  <header>
    <h1>Reminders</h1>
  </header>
  {{#each model as |reminder|}}
  <article >
    {{#link-to 'reminders.reminder' reminder class='spec-reminder-item'}}
      {{reminder.title}}
    {{/link-to}}
    <p>{{reminder.date}}</p>
  </article>
  {{/each}}
</section>

{{outlet}}
